body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  background-color: pink;
  background-image: linear-gradient(pink, purple);
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  min-height: 100vh;
}

.nav {
  position: fixed;
  width: 100%;
}

#current-date {
  padding-left: 1%;
}

nav {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 12px 1%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  align-items: center;
  background-color: pink;
  width: 100%;
  box-sizing: border-box;
}

@supports (backdrop-filter: blur()) {
  nav {
    background-color: transparent;
    backdrop-filter: blur(10px);
  }
}

nav > h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul {
  display: flex;
  gap: 12px;
  align-items: stretch;
}

label > * {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 10px;
}

nav > ul > * {
  border: 2px solid purple;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

nav a {
  display: block;
  min-height: 15px;
  padding: 4px 4px 2px 4px;
}

section {
  margin-top: 88px;
}

.background {
  background-color: rgba(0, 0, 0, 0.09);
}

#book-wrapper {
  border: 3px solid black;
  align-self: stretch;
  overflow: auto;
}

.contact-info > * {
  margin: 0;
  padding: 10px;
}

#book-wrapper > * {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  margin: 0;
  min-width: 290px;
  gap: 12px;
}

#book-wrapper h2 {
  margin: 0;
}

#book-wrapper p {
  margin: 0;
}

#book-wrapper h3 {
  margin: 0;
}

button {
  font-weight: bold;
  margin-left: auto;
  border: 2px solid rgba(255, 192, 203, 0.5);
  border-radius: 5px;
  background-color: rgba(128, 0, 128, 0.2);
}

span {
  background-color: black;
  margin-top: 20px;
  height: 1px;
  width: 25%;
}

#book-submit {
  width: 20rem;
  max-width: 375px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#book-submit > * {
  margin: 7px;
}

#book-submit [type="submit"] {
  align-self: flex-end;
  font-weight: bold;
  margin-left: auto;
  border: 2px solid rgba(255, 192, 203, 0.5);
  border-radius: 5px;
  background-color: rgba(128, 0, 128, 0.2);
  padding: 4px 8px;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact h1 {
  width: 100%;
  text-align: center;
}

.contact-info {
  margin-top: 30px;
  width: 45%;
}

.not-display {
  display: none !important;
}
