body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

nav {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  align-items: center;
  position: fixed;
  background: white;
  width: 100%;
  box-sizing: border-box;
}

nav > h1 {
  margin: 0;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 12px;
  align-items: center;
}

nav > ul > * {
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
}

nav a {
  display: block;
  height: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  margin-top: 51px;
}

label > * {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
}

.background {
  background-color: lightgray;
}

#book-wrapper {
  border: 3px solid black;
  align-self: stretch;
}

#book-wrapper > * {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  margin: 0;
  max-width: calc(100% - 20px);
  gap: 12px;
}

#book-wrapper h2 {
  margin: 0;
}

#book-wrapper p {
  margin: 0;
}

#book-wrapper h3 {
  margin: 0;
}

button {
  margin-left: auto;
}

span {
  background-color: black;
  margin-top: 20px;
  height: 1px;
  width: 25%;
}

#book-submit {
  width: 20rem;
  max-width: 375px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#book-submit > * {
  margin: 7px;
}

#book-submit [type="submit"] {
  align-self: flex-end;
}

.not-display {
  display: none;
}
